name: Check Release
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Base Setup
        uses: ./.github/actions/base-setup
      - name: Check Release
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@3e74486d1011d24cd5e9977202fd349dece0db9c # v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_spec: 100.100.100
