name: Run Script on PR
on:
  workflow_dispatch:
    inputs:
      target:
        description: Target Pull Request Link
        required: true
      script:
        description: Command(s) to run
        required: false
      pre_commit:
        description: Whether to run the pre-commit script
        required: false
      commit_message:
        description: Optional commit message
        required: false
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Base Setup
        uses: ./.github/actions/base-setup
      - name: PR Script
        uses: ./.github/actions/pr-script
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          target: ${{ github.event.inputs.target }}
          script: ${{ github.event.inputs.script }}
          pre_commit: ${{ github.event.inputs.pre_commit }}
          commit_message: ${{ github.event.inputs.commit_message }}
